<h2><%= details.name %></h2>
<p>Pokedex Entry: <%= details.id %></p>
<div>
    <img src="<%= originalImg %>" alt="<%= details.name %>">
</div>
<img src="<%= details.sprites.front_default %>" alt="<%= details.name %>">
<img src="<%= details.sprites.back_default %>" alt="<%= details.name %>">

<p>Height: <%= details.height %></p>
<p>Weight: <%= details.weight %></p>